[submodule "src/lib"]
	path = src/lib
	url = https://github.com/resonantcore/lib.git
[submodule "src/thirdparty/system"]
	path = src/thirdparty/system
	url = https://github.com/darkitecht/onionimbus_system.git
[submodule "src/thirdparty/Twig"]
	path = src/thirdparty/Twig
	url = https://github.com/twigphp/Twig.git
